:root {
  --isc-dark: #221d21;
  --isc-light: #ded9e2;
  --isc-coral: #ef8354;
  --isc-blue: #70c1b3;
  --isc-iris: #b47eb3;
  --isc-gold: #d2bf55;
  --isc-btn-pri: #06bcc1;

  background-color: var(--isc-dark);
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--isc-dark) !important;
  padding-right: 0 !important;
}

#root {
  max-width: 1340px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--isc-dark);
  color: #f7f4f3;
}

.row > * {
  padding-right: calc(1em * 0.5) !important;
  padding-left: calc(1em * 0.5) !important;
}

html,
h1,
h2,
h3,
h4,
h5,
p,
span,
ul,
li,
form,
label,
button.btn,
.filter-btns button,
a,
.modal-content {
  font-family: "IBM Plex Sans", sans-serif;
}

button.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  font-size: 1.1rem;
}

button.btn-primary,
button.btn.btn-primary:active {
  background-color: #c1df1f;
  color: var(--isc-dark);
  font-weight: 600;
  border-color: #c1df1f;
  transition: all 0.3s;
}

button.btn-primary:hover {
  background-color: #c2df1fbe;
  border-color: #c1df1f;
  color: var(--isc-dark);
}

p,
span,
ul,
li,
form,
label {
  font-size: 1rem;
  line-height: 1rem;
}

.output-intro {
  line-height: 1.4;
}

header {
  padding-bottom: 0.7em;
}

header a {
  align-self: center;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--isc-light);
}

header button:first-child {
  margin-right: 10px;
}

.title-row p {
  font-size: 0.9rem;
}

#set-config .modal-content {
  background-color: var(--isc-dark);
}

.filters {
  gap: 20px;
}

.filter-btns {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 16px;
  background-color: #403b3e;
  border-radius: 8px;
}

.filters span {
  font-size: 1rem;
}

.filter-btns button {
  background: transparent;
  border: 1px solid #837c80;
  padding: 5px 12px;
  border-radius: 16px;
}

.filter {
  font-weight: 600;
}

.ears.selected {
  background-color: var(--isc-iris);
  border: 1px solid var(--isc-iris);
}

.filter-btns .ears:hover {
  color: var(--isc-dark);
  background-color: var(--isc-iris);
  border: 1px solid var(--isc-iris);
  transition: all 0.3s;
}

.nose.selected {
  background-color: var(--isc-blue);
  border: 1px solid var(--isc-blue);
}

.filter-btns .nose:hover {
  color: var(--isc-dark);
  background-color: var(--isc-blue);
  border: 1px solid var(--isc-blue);
  transition: all 0.3s;
}

.brows.selected {
  background-color: var(--isc-coral);
  border: 1px solid var(--isc-coral);
}

.filter-btns .brows:hover {
  color: var(--isc-dark);
  background-color: var(--isc-coral);
  border: 1px solid var(--isc-coral);
  transition: all 0.3s;
}

.lips.selected {
  background-color: var(--isc-gold);
  border: 1px solid var(--isc-gold);
}

.filter-btns .lips:hover {
  color: var(--isc-dark);
  background-color: var(--isc-gold);
  border: 1px solid var(--isc-gold);
  transition: all 0.3s;
}

.filter-btns .selected {
  font-weight: 600;
  color: #000;
}
.vanilla.selected {
  background-color: var(--isc-light);
  border: 1px solid var(--isc-light);
}

.mod-btn.selected {
  background-color: var(--isc-light);
  border: 1px solid var(--isc-light);
}

.all-piercings.selected {
  background-color: var(--isc-light);
  border: 1px solid var(--isc-light);
}

.gold-btn.selected {
  background-color: #d5ac4e;
}

.silver-btn.selected {
  background-color: silver;
}

.filter-btns button,
.filter-btns span {
  align-self: center;
}

.filter-btns span {
  font-size: 0.98rem;
}

.filter-btns button.clear-btn {
  border-radius: 5px;
  background-color: hsl(330 4% 70% / 1);
  color: var(--isc-dark);
  font-weight: 600;
  margin-left: 10px;
}

.settings-box h4 {
  padding-top: 0;
}

fieldset:last-child {
  margin-top: 12px;
}

.prc-name {
  font-weight: 600;
}

.warning-txt {
  font-size: 0.92rem;
}

pre {
  background-color: #3a3638;
  padding-bottom: 2em;
  padding-top: 1em;
  line-height: 1.6 !important;
}

/* .settings-box label {
  padding: 1rem;
} */

.settings-box .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
}

legend {
  font-size: 1.1rem;
  font-weight: 600;
  color: #bd93f9;
}

.color-option {
  flex: 1;
  text-align: center;
  padding: 0.6em 0.6em 0.3em;
  border: 1px solid #3a3638;
  border-radius: 10px;
  line-height: 1.2;
  font-size: 1rem;
}

.display-option {
  padding: 0.6em;
  border: 1px solid #3a3638;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.opt-desc {
  display: block;
  padding-top: 0.3em;
  font-size: 0.9em;
  color: #858f99;
  font-weight: 400;
}

.color-option:hover,
.display-option:hover {
  cursor: pointer;
  background-color: #3a3638;
}

.settings-box input[type="radio"] {
  margin-right: 0.8em;
}

.settings-box input[type="radio"]:checked + label,
.settings-box input[type="checkbox"]:checked + label {
  background-color: #3a3638 !important;
}

/* .settings-box input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
} */

.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  margin-bottom: 0.6em;
}

label.selected {
  background: green;
}

.label-text {
  display: block;
  background: #000;
  padding: 10px;
}

.gold-gr {
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
}

.silver-gr {
  background: linear-gradient(
    to right,
    #a8a9ad,
    #dfdfdf,
    #949494,
    #dfdfdf,
    #999999
  );
}

.warning {
  color: var(--isc-gold);
  padding-top: 1em;
}

.other-gr {
  background: black;
}

.start-btn {
  margin-top: 12px;
  display: block;
  background-color: #50fa7b;
  color: #3a3638;
  border: 1px solid #3a3638;
  padding: 1em 1.2em;
  max-width: 300px;
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 600;
}

.location {
  font-weight: 400;
  color: lightgrey;
}

.prc-col {
  margin-bottom: 14px;
}

.prc-col button {
  width: 100%;
  background: transparent;
}

.prc-stats {
  padding-left: 0;
  margin-bottom: 0;
}

.prc-stats li {
  text-align: left;
  list-style-type: none;
  line-height: 1.3;
  font-size: 0.92rem;
}

.set-name {
  font-family: monospace;
  font-size: 12px !important;
  text-transform: uppercase;
  line-height: 1.1 !important;
  letter-spacing: 0.4px;
  padding-bottom: 5px;
  display: block;
  color: #9c9698;
}

.block-title {
  padding-bottom: 0.3rem;
  padding-top: 1rem;
  font-size: 1.2rem;
}

/* Config Modal */
#set-config .modal-header {
  padding: 10px 1em;
  border-bottom: none;
}

#set-config .modal-title {
  font-size: 1.3rem;
}

#set-config .modal-body {
  padding: 8px 0;
}

.config-row {
  line-height: 1.3;
}

.config-cont {
  border-bottom: 1px solid #3a3638;
  padding: 8px 0;
}

.config-cont:last-child {
  border-bottom: none;
}

.config-loca {
  color: #dbd8d6;
  font-style: italic;
}

.gen-loca {
  display: block;
  font-size: 0.84rem;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-family: monospace;
  letter-spacing: 1px;
}

.ears .gen-loca {
  color: var(--isc-iris);
}

.nose .gen-loca {
  color: var(--isc-blue);
}

.brows .gen-loca {
  color: var(--isc-coral);
}

.lips .gen-loca {
  color: var(--isc-gold);
}

.config-cont.ears {
  border-left: 4px solid var(--isc-iris);
  padding-left: 15px;
}

.config-cont.nose {
  border-left: 4px solid var(--isc-blue);
  padding-left: 15px;
}

.config-cont.brows {
  border-left: 4px solid var(--isc-coral);
  padding-left: 15px;
}

.config-cont.lips {
  border-left: 4px solid var(--isc-gold);
  padding-left: 15px;
}

.config-set {
  font-size: 0.95rem;
}

.config-vanilla {
  color: #a8a0a3;
}

.config-mod {
  color: #d9d57f;
}

.prc-container {
  padding: 0.8rem 0.8rem 0.5rem 0.8rem;
  border-radius: 8px;
  border: 1px solid #3a3638;
}

.prc-container:hover:not([disabled]) {
  cursor: pointer;
  background-color: #3a3638;
}

.prc-container:disabled {
  opacity: 30%;
}

.prc-container.selected {
  background-color: #3a3638;
  border: 2px solid #fff;
}

.color-tag {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 20px;
  height: 20px;
  top: -8px;
  right: 95%;
  font-size: 10px;
  transform: translateX(54%);
  text-transform: uppercase;
  border-radius: 50%;
  color: #000;
  box-sizing: border-box;
  padding-top: 3px;
}

.silver {
  background-color: silver;
}

.gold {
  background-color: #d3c36d;
}

.indicator {
  display: block;
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  right: -95%;
  top: -20px;
}
.ears-ind {
  background-color: var(--isc-iris);
}

.nose-ind {
  background-color: var(--isc-blue);
}

.brows-ind {
  background-color: var(--isc-coral);
}

.lips-ind {
  background-color: var(--isc-gold);
}

/* .barbarian {
  border-bottom: 2px solid var(--isc-blue);
}

.vanilla-ab {
  border-bottom: 2px solid var(--isc-iris);
}

.ortheus {
  border-bottom: 2px solid var(--isc-coral);
}

.mod {
  border-bottom: 2px solid #f7762c;
} */

.img-dummy {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  text-align: right;
}

.img-dummy img {
  max-width: 100%;
}

.flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
